**pycache**/
*.pyc

instance/
*.db

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

.DS_Store
.vscode/

devops-tracker-task.json
task-definition.json

terraform/devops-tracker-task.json
terraform/task-definition.json